{% extends layout %}
{% block content %}
<dl>
	<div>
		<dt>
			Photos
		</dt>
		<dd>
			© their respective photographers
		</dd>
	</div>
	<div>
		<dt>
			Web Application frameworks
		</dt>
		<dd>
			<a href="https://11ty.dev/">Eleventy</a>,
			<a href="https://www.djangoproject.com/">Django</a>
			and their many contributors.
		</dd>
	</div>
	<div>
		<dt>
			Main menu icons
		</dt>
		<dd>
			<a href="https://thenounproject.com/">The Noun Project</a>:<br>
			Bird: Agne Alesiute<br>
			Binoculars: sandiindra<br>
			Camera: shashank singh
		</dd>
	</div>
	<div>
		<dt>
			Map control
		</dt>
		<dd>
			<a href="https://leafletjs.com/">Leaflet</a>
		</dd>
	</div>
	<div>
		<dt>
			Map tiles
		</dt>
		<dd>
			© Esri. Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community
		</dd>
	</div>
	<div>
		<dt>
			The name 'Zevenwacht'
		</dt>
		<dd>
			Zevenwacht is a registered trademark, and is used with permission by <a href="https://zevenwacht.co.za/">Zevenwacht Wine Estate</a>
		</dd>
	</div>
</dl>
{% endblock %}
