{% set steps_label_dict = {
	'start': 'Start',
	'photo': 'Photo',
	'location': 'Location',
	'birds': 'Birds',
	'extra-info': 'Extra info',
} %}
<aside class="layout_aside" aria-labelledby="aside_heading">
	<h3 id="aside_heading" class="heading heading_section">Progress</h3>
	<ol class="list_steps">
		{% for step in wizard.steps.all %}
			<li>
				{% if wizard.steps.step0 > loop.index0 %}
					<button
						class="button_link"
						form="wizard_form"
						name="wizard_goto_step"
						type="submit"
						value="{{ step }}"
						formnovalidate>{{ steps_label_dict[step] }}</button>
				{% elif step == wizard.steps.current %}
					<b>{{ steps_label_dict[step] }}</b>
				{% else %}
					<span>{{ steps_label_dict[step] }}</span>
				{% endif %}
			</li>
		{% endfor %}
	</ol>
</aside>
