{% set steps = [
	('Start', 'wizard_upload_photo',),
	('Photo', 'wizard_edit_photo',),
	('Location', 'wizard_edit_location',),
	('Birds', 'wizard_add_birds',),
	('Extra info', 'wizard_add_extra',),
	('Done', 'wizard_done',),
] %}
{% set step_current = namespace(index=0) %}
{% for label, url_name in steps %}
	{% if url(url_name) == request.get_full_path() %}
		{% set step_current.index = loop.index0 %}
	{% endif %}
{% endfor %}
<aside class="layout_aside" aria-labelledby="aside_heading">
	<h3 id="aside_heading" class="heading heading_section">Progress</h3>
	<ol class="list_steps">
		{% for label, url_name in steps %}
			<li>
				{% if step_current.index >= loop.index0  %}
					<a href="{{ url(url_name) }}" {% if url(url_name) == request.get_full_path() %}aria-current="page"{% endif %}>{{ label }}</a>
				{% else %}
					<span>{{ label }}</span>
				{% endif %}
			</li>
		{% endfor %}
	</ol>
</aside>
