---
title: SABAP2
heading: South African Bird Atlas Project (SABAP2)
summary: More info about SABAP2 and comparing our sightings
description: More info about SABAP2 and comparing our sightings
eleventyExcludeFromCollections: true
---

<p>
	<a href="{{ url.sabap2 }}">SABAP2</a><br>
	<a href="{{ url.sabap2_tile }}">SABAP2 tile covering Zevenwacht</a>
</p>
<ol>
	{% for entry in sabap2.tile_species %}
		<li>{{ entry.Genus }} {{ entry.Species }}</li>
	{% endfor %}
</ol>