{% extends "layouts/wizard.jinja" %}
{% set page_name = 'New entry: Edit Location' %}
{% set page_description = 'Where did this entry occur?' %}

{% block step_content %}
	<form id="wizard_form" method="POST" action="." enctype="multipart/form-data">
		{% csrf_token %}
		{{ wizard.management_form }}

		<div class="form_row">
			<button type="submit">Next</button>
		</div>
	</form>
{% endblock %}
