---
title: Sightings
heading: Sightings
summary: Most recent recorded sightings of birds
description: Most recent recorded sightings of birds
eleventyExcludeFromCollections: true
---
<template id="tmpl_add_sighting">
	<p><a href="./add/">Add a Sighting</a></p>
</template>
<script>
	if (window.localStorage.getItem('PAT')) {
		let template = document.querySelector('#tmpl_add_sighting');
		let templateContents = template.content.children[0].cloneNode(true);
		template.parentNode.insertBefore(templateContents, template);
	}
</script>
<div class="layout_map">
	<div class="layout_item_map">
		<map-embed id="map-all-sightings" json="{{ url.sightings }}/all.json"></map-embed>
		<script defer type="module" src="/assets/mjs/wc/map-embed.mjs"></script>
	</div>
	<div class="layout_item_list">
		<ul>
			{% for sightingId, sighting in sightings | sortByDatetimeRecent %}
				<li id="sighting_{{ sightingId }}">
					<a href="{{ url.sightings }}{{ sightingId }}-{{ sighting.bird.id }}/">
						{{ sighting.bird.quantity }} ⨉ {{ birds[sighting.bird.id].name }}
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>
