---
title: Sightings
heading: Sightings
summary: Most recent recorded sightings of birds
description: Most recent recorded sightings of birds
eleventyExcludeFromCollections: true
---
<template id="tmpl_add_sighting">
	<p><a href="./add/">Add a Sighting</a></p>
</template>
<script>
	if (window.localStorage.getItem('PAT')) {
		let template = document.querySelector('#tmpl_add_sighting');
		let templateContents = template.content.children[0].cloneNode(true);
		template.parentNode.insertBefore(templateContents, template);
	}
</script>
<div class="layout_map">
	<div class="layout_item_map">
		<map-embed
			id="map-all-sightings"
			sightings="./all.json"
			latitude="-33.929"
			longitude="18.72"
			zoom="15"
		></map-embed>
	</div>
	<div class="layout_item_list">
		<dl class="list_by_year">
			{% for ccyy in date_range %}
				<div>
					<dt>{{ ccyy }}</dt>
					<dd>
						<ul>
							{% for sightingId, sighting in sightings | sortByProp('datetime') %}
								{% set itemYear = sighting.datetime | getYear %}
								{% if itemYear > ccyy - 1 and itemYear < ccyy + 1 %}
								<li>
									<a href="{{ url.sightings }}{{ sightingId }}/">
										{{ sighting.bird.quantity }} × {{ birds[sighting.bird.id].name }}
									</a>
								</li>
								{% endif %}
							{% endfor %}
						</ul>
					</dd>
				</div>
			{% endfor %}
		</dl>
	</div>
</div>
