{% if site.enable_debug === true and environment.name === 'development'  %}
<!--
============================
page: {{ page | dump | safe }}
page_meta: {{ page_meta | dump | safe }}
title: {{ title | dump | safe }}
heading: {{ heading | dump | safe }}
summary: {{ summary | dump | safe }}
description: {{ description | dump | safe }}
============================
birdId: {{ birdId | dump | safe }}
bird: {{ bird | dump | safe }}
============================
sightingId: {{ sightingId | dump | safe }}
sighting: {{ sighting | dump | safe }}
============================
photoId: {{ photoId | dump | safe }}
photo: {{ photo | dump | safe }}
============================
-->
{% endif %}