{% if environment.name == 'production' %}
	<script async type="module" src="/assets/mjs/bundle.mjs?timestamp={{ environment.timestamps.mjs }}"></script>
{% else %}
	<script async type="module" src="/assets/mjs/index.mjs"></script>
{% endif %}
