{% if environment.name == 'production' %}
	<script type="module" src="/assets/mjs/bundle.mjs?timestamp={{ environment.timestampMJSBuild }}"></script>
{% else %}
	<script type="module" src="/assets/mjs/index.mjs"></script>
{% endif %}
