<footer>
	<p>
		<a href="{{ url.about }}">About this project</a>.<br>
		<small>
			© Photographs copyright by their respective owners, see <a href="{{ url.attribution }}">Attribution</a>.
		</small>
	</p>
</footer>