{% if page_meta.summary %}
	{% set summary = page_meta.summary %}
{% endif %}
{% if page_meta.image %}
	{% set image = page_meta.image %}
{% endif %}
<meta name="generator" content="{{ eleventy.generator }}">
<meta name="description" content="{{ summary }}">
<meta property="og:site_name" content="{{ site.title.default }}">
<meta property="og:description" content="{{ summary }}">
<meta property="og:image" content="{{ environment.baseURL }}{{ image }}">
<link rel="manifest" href="{{ environment.baseURL }}/web.manifest">
<link rel="shortcut icon" href="{{ environment.baseURL}}/favicon.ico">