<footer>
	<nav aria-labelledby="heading_footer_nav">
		<screenreader-only>
			<h2 id="heading_footer_nav">More links</h2>
		</screenreader-only>
		<ul>
			<li>
				<a href="{{ url.people }}">People</a>
			</li>
			<li>
				<a href="{{ url.areas }}">Areas</a>
			</li>
			<li>
				<a href="{{ url.about }}">About</a>
			</li>
		</ul>
	</nav>
	<p>
		<small>
			© Photographs copyright by their respective owners, see <a href="{{ url.attribution }}">Attribution</a>.
		</small>
	</p>
</footer>