---
title: Photos
heading: Photos
summary: Recent photos of birds in Zevenwacht
description: Recent photos of birds in Zevenwacht
eleventyExcludeFromCollections: true
---

<ul>
	{% for photoId, photo in photos %}
		<li id="photo_{{ photoId }}">
			<a href="{{ url.photos }}{{ photoId | slugify }}/">
				{% set imageSrc = 'src' + url.photo_images + photo.file %}
				{% photoThumbnail imageSrc, photo.description %}
			</a>
		</li>
	{% endfor %}
</ul>