---
title: Photos
heading: Photos
summary: Recent photos of birds within Zevenwacht Wine Estate or surrounds
description: Recent photos of birds within Zevenwacht Wine Estate or surrounds
eleventyExcludeFromCollections: true
---

<ul class="list_gallery">
	{% for photoId, photo in photos | sortByProp('datetime') %}
		<li>
			<a class="link_thumbnail" href="{{ url.photos }}{{ photoId }}/">
				<figure>
					{% set photoPath = url.source_photos + photo.photographer + '/' + photo.file %}
					{% photoThumbnail photoPath, photo.description %}
					<figcaption>
						<ul>
							{% for birdId in photo.birds %}
								<li>{{ birds[birdId].name }}{% if loop.length > 1 and not loop.last %},{% endif %}</li>
							{% endfor %}
						</ul>
					</figcaption>
				</figure>
			</a>
		</li>
	{% endfor %}
</ul>