---
title: Photos
heading: Photos
summary: Recent photos of birds in Zevenwacht
description: Recent photos of birds in Zevenwacht
eleventyExcludeFromCollections: true
---

<ul class="list_gallery">
	{% for photoId, photo in photos %}
		<li id="photo_{{ photoId }}">
			<a class="link_thumbnail" href="{{ url.photos }}{{ photoId | slugify }}/">
				<figure>
					{% set imageSrc = url.source_photos + photo.file %}
					{% photoThumbnail imageSrc, photo.description %}
					<figcaption>
						<ul>
							{% for birdId in photo.birds %}
								<li>{{ birds[birdId].name }}{% if loop.length > 1 and not loop.last %},{% endif %}</li>
							{% endfor %}
						</ul>
					</figcaption>
				</figure>
			</a>
		</li>
	{% endfor %}
</ul>