# To create a new SECRET_KEY Run the following:
# =============================================
# python manage.py shell
# from django.core.management.utils import get_random_secret_key
# print(get_random_secret_key())
# =============================================
DJANGO_DEBUG_ENABLED="True"
DJANGO_SECRET_KEY=""
