{% extends layout %}
{% set page_name = person.short_name %}
{% set page_description = 'A contributor to Birds of Zevenwacht' %}

{% block content %}
<dl>
	<div>
		<dt>id</dt>
		<dd>{{ person.id }}</dd>
	</div>
	<div>
		<dt>short_name</dt>
		<dd>{{ person.short_name }}</dd>
	</div>
	<div>
		<dt>full_name</dt>
		<dd>{{ person.full_name }}</dd>
	</div>
	<div>
		<dt>email</dt>
		<dd>{{ person.email }}</dd>
	</div>
</dl>
{% endblock %}
