---
title: Open Source attribution
heading: Open Source attribution
summary: This community project wouldn't be possible without Open Source Software (OSS) and its contributors
description: This community project wouldn't be possible without Open Source Software (OSS) and its contributors
eleventyExcludeFromCollections: true
---
<dl>
	<div>
		<dt>Photos</dt>
		<dd>© Respective photographer</dd>
	</div>
	<div>
		<dt>Static Site Generator</dt>
		<dd><a href="https://11ty.dev/">Eleventy</a> and its many contributors</dd>
	</div>
	<div>
		<dt>Main menu icons</dt>
		<dd>
			<a href="https://thenounproject.com/">The Noun Project</a><br>
			Bird: Agne Alesiute<br>
			Binoculars: sandiindra<br>
			Camera: shashank singh
		</dd>
	</div>
	<div>
		<dt>Map control</dt>
		<dd><a href="https://leafletjs.com/">Leaflet</a></dd>
	</div>
	<div>
		<dt>Map tiles</dt>
		<dd>© Esri. Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community</dd>
	</div>
</dl>