---
pagination:
  data: people
  size: 1
  alias: personId
permalink: "{{ url.people }}{{ personId | slugify }}/index.html"
layout: "person_detail.njk"
eleventyExcludeFromCollections: true
---
{% set filtered_sightings = sightings | byPerson(personId) | sortByDatetimeRecent %}
{% set filtered_sightings_array = filtered_sightings | objToArray %}
{% set filtered_photos = photos | byPerson(personId) | sortByDatetimeRecent %}
{% set filtered_photos_array = filtered_photos | objToArray %}

<article aria-labelledby="heading_bird_sightings">
	<header>
		<h3 id="heading_bird_sightings">{{ filtered_sightings_array.length }} sightings added</h3>
	</header>
	{% if filtered_sightings_array.length %}
		<div class="layout_map">
			<div class="layout_item_map">
				<map-embed
					id="map_people_sightings"
					sightings="./sightings.json"
					latitude="-33.929"
					longitude="18.72"
					zoom="15"
				></map-embed>
			</div>
			<div class="layout_item_list">
				<ul>
					{% for sightingId, sighting in filtered_sightings %}
						<li id="sighting_{{ sightingId }}">
							<a href="{{ url.sightings }}{{ sightingId }}-{{ sighting.bird.id }}/">
								{{ sighting.bird.quantity }} × {{ birds[sighting.bird.id].name }}
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	{% else %}
		<p>No sightings yet</p>
	{% endif %}
</article>

<article aria-labelledby="heading_bird_photos">
	<header>
		<h3 id="heading_bird_photos">{{ filtered_photos_array.length }} photos added</h3>
	</header>
	{% if filtered_photos_array.length %}
		<ul class="list_gallery">
			{% for photoId, photo in filtered_photos %}
				<li id="photo_{{ photoId }}">
					<a class="link_thumbnail" href="{{ url.photos }}{{ photoId | slugify }}/">
						<figure>
							{% set photoPath = url.source_photos + photo.photographer + '/' + photo.file %}
							{% photoThumbnail photoPath, photo.description %}
							<figcaption>
								<ul>
									{% for birdId in photo.birds %}
										<li>{{ birds[birdId].name }}{% if loop.length > 1 and not loop.last %},{% endif %}</li>
									{% endfor %}
								</ul>
							</figcaption>
						</figure>
					</a>
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<p>No photos yet</p>
	{% endif %}
</article>