---
pagination:
  data: sightings
  size: 1
  alias: sightingId
permalink: "{{ url.sightings }}{{ sightingId }}/index.html"
layout: "sighting_detail.njk"
eleventyExcludeFromCollections: true
---
{% set sighting = sightings[sightingId] %}
<dl class="list_details">
	<div>
		<dt>Date and time</dt>
		<dd>{% datetime sighting.datetime %}</dd>
	</div>
	<div>
		<dt>Birds</dt>
		<dd>
			{{ sighting.bird.quantity }} × <a href="{{ url.birds }}{{ birds[sighting.bird.id].name | slugify }}/">{{ birds[sighting.bird.id].name }}</a>
		</dd>
	</div>
	{% if sighting.photos %}
	<div>
		<dt>Associated photos</dt>
		<dd>
			<ul class="list_gallery">
				{% for photoId in sighting.photos %}
					{% set photo = photos[photoId] %}
					<li>
						<a class="link_thumbnail" href="{{ url.photos }}{{ photoId }}/">
							{% set photoPath = url.source_photos + photo.photographer + '/' + photo.file %}
							{% photoThumbnail photoPath, photo.description %}
						</a>
					</li>
				{% endfor %}
			</ul>
		</dd>
	</div>
	{% endif %}
	<div>
		<dt>Observers</dt>
		<dd>
			<ul>
			{% for observerId in sighting.observers %}
				<li>
					<a href="{{ url.people }}{{ observerId }}/">{{ people[observerId].name }}</a>
				</li>
			{% endfor %}
			</ul>
		</dd>
	</div>
	<div>
		<dt>Location</dt>
		<dd>
			<a href="{{ url.areas }}{{ sighting.location.area }}/">{{ areas[sighting.location.area].name }}</a>
			{% if sighting.location.latitude %}
				<p>
					{% set location = sighting.location %}
					{% include "link_google_maps.njk" %}
				</p>
				<map-embed
					id="map_sighting_detail"
					type="sighting"
					marker-latitude="{{ sighting.location.latitude }}"
					marker-longitude="{{ sighting.location.longitude }}"
					latitude="-33.929"
					longitude="18.72"
					zoom="15"
				></map-embed>
			{% else %}
				<map-embed
					id="map_sighting_area"
					boundaries="{{ url.areas }}{{ sighting.location.area }}/geofence.json"
					latitude="-33.929"
					longitude="18.72"
					zoom="15"
				></map-embed>
			{% endif %}
		</dd>
	</div>
</dl>
