---
pagination:
  data: areas
  size: 1
  alias: areaId
permalink: "{{ url.areas }}{{ areaId }}/geofence.json"
layout: null
eleventyExcludeFromCollections: true
---
{% set area = areas[areaId] %}
{{ area.geofence | stringify | safe }}