---
pagination:
  data: photos
  size: 1
  alias: photoId
permalink: "{{ url.photos }}{{ photoId }}/index.html"
layout: "photo_detail.njk"
eleventyExcludeFromCollections: true
---
{% set photo = photos[photoId] %}
{% set exif = exifs[photo.photographer][photo.file] %}
{% if exif %}
	{% set datetime = exif.DateTimeOriginal %}
{% else %}
	{% set datetime = photo.datetime %}
{% endif %}
<figure class="figure_full">
	{% set photoPath = url.source_photos + photo.photographer + '/' + photo.file %}
	{% photoImage photoPath, photo.description %}
	<figcaption>
		<p><small>© Copyright {{ people[photo.photographer]['full-name'] }}</small></p>
	</figcaption>
</figure>
<dl class="list_details">
	<div>
		<dt>Date & time</dt>
		<dd>{% datetime datetime %}</dd>
	</div>
	<div>
		<dt>Birds</dt>
		<dd>
			<ul class="list_stripped">
				{% for birdId in photo.birds %}
					<li>
						<a href="{{ url.birds }}{{ birds[birdId].name | slugify }}/">{{ birds[birdId].name }}</a>
					</li>
				{% endfor %}
			</ul>
		</dd>
	</div>
	<div>
		<dt>Sighting</dt>
		<dd>
			{% set sighting = sightings[photo.sighting] %}
			<a href="{{ url.sightings }}{{ photo.sighting }}-{{ sighting.bird.id }}/">{% datetime datetime %}</a>
		</dd>
	</div>
	<div>
		<dt>Photographer</dt>
		<dd>
			<a href="{{ url.people }}{{ photo.photographer }}">{{ people[photo.photographer]['full-name'] }}</a>
		</dd>
	</div>
	{% if exif %}
	<div>
		<dt><abbr title="Exchangeable Image File Format">EXIF</abbr> data</dt>
		<dd>
			<dl class="list_details">
				<div>
					<dt>Camera</dt>
					{% set camera = cameras[exif.Make + '-' + exif.Model] %}
					<dd>{{ camera.make }} {{ camera.model }}</dd>
				</div>
				<div>
					<dt>Lens</dt>
					<dd>
						{{ exif.LensModel }}
					</dd>
				</div>
				<div>
					<dt>F-number</dt>
					<dd>𝑓{{ exif.FNumber.toFixed(1) }}</dd>
				</div>
				<div>
					<dt>Focal length</dt>
					<dd>{{ exif.FocalLengthIn35mmFormat }}<abbr title="Millimeters">mm</abbr></dd>
				</div>
				<div>
					<dt>Shutter speed</dt>
					<dd>
						{%- if exif.ExposureTime > 1 -%}
						{{ exif.ExposureTime }}
						{% else %}
						1/{{ (1 / exif.ExposureTime) | int }}
						{%- endif -%}<abbr title="Seconds">s</abbr>
					</dd>
				</div>
				<div>
					<dt>Exposure</dt>
					<dd>{{ exif.ExposureCompensation.toFixed(1) }}<abbr title="Exposure compensation">EV</abbr></dd>
				</div>
				<div>
					<dt>ISO</dt>
					<dd>{{ exif.ISO }}</dd>
				</div>
			</dl>
		</dd>
	</div>
	{% endif %}
	<div>
		<dt>Location</dt>
		<dd>
			<a href="{{ url.areas }}{{ photo.location.area }}/">{{ areas[photo.location.area].name }}</a>
			{% if photo.location.latitude %}
				<p>
					{% set location = photo.location %}
					{% include "link_google_maps.njk" %}
				</p>
				<map-embed
					id="map_photo_detail"
					type="photo"
					marker-latitude="{{ photo.location.latitude }}"
					marker-longitude="{{ photo.location.longitude }}"
					latitude="-33.929"
					longitude="18.72"
					zoom="15"
				></map-embed>
			{% else %}
				<map-embed
					id="map_photo_area"
					boundaries="{{ url.areas }}{{ photo.location.area }}/geofence.json"
					latitude="-33.929"
					longitude="18.72"
					zoom="15"
				></map-embed>
			{% endif %}
		</dd>
	</div>
</dl>
