---
pagination:
  data: photos
  size: 1
  alias: photoId
permalink: "{{ url.photos }}{{ photoId | slugify }}/index.html"
layout: "photo_detail.njk"
eleventyExcludeFromCollections: true
---
{% set photo = photos[photoId] %}
{% set sourcePhotoId = photo.file.split('.')[0] %}
{% set exif = source_photos[photo.photographer][sourcePhotoId].exif %}
{% if exif %}
	{% set datetime = exif.DateTimeOriginal %}
{% else %}
	{% set datetime = photo.datetime %}
{% endif %}
<figure class="figure_full">
	{% set photoPath = url.source_photos + photo.photographer + '/' + photo.file %}
	{% photoImage photoPath, photo.description %}
	<figcaption>
		<p>{{ photo.description }}</p>
		<p><small>© Copyright {{ people[photo.photographer]['full-name'] }}</small></p>
	</figcaption>
</figure>
<dl class="list_photo_details">
	<div>
		<dt>Date & time</dt>
		<dd>{% datetime datetime %}</dd>
	</div>
	<div>
		<dt>Birds</dt>
		<dd>
			<ul class="list_stripped">
				{% for birdId in photo.birds %}
					<li>
						<a href="{{ url.birds }}{{ birds[birdId].name | slugify }}/">{{ birds[birdId].name }}</a>
					</li>
				{% endfor %}
			</ul>
		</dd>
	</div>
	<div>
		<dt>Sighting</dt>
		<dd>
			{% set sighting = sightings[photo.sighting] %}
			<a href="{{ url.sightings }}{{ photo.sighting | slugify }}-{{ sighting.bird.id | slugify }}/">{% datetime datetime %}</a>
		</dd>
	</div>
	<div>
		<dt>Location</dt>
		<dd>
			{{ areas[photo.location.area].name }}
			{% if photo.location.latitude %}
				<br>
				{% set location = photo.location %}
				{% include "link_google_maps.njk" %}
			{% endif %}
		<dd>
	</div>
	{% if exif %}
	<div>
		<dt><abbr title="Exchangeable Image File Format">EXIF</abbr> data</dt>
		<dd>
			<dl class="list_photo_details">
				<div>
					<dt>Camera</dt>
					{% set camera = cameras[exif.Make + '-' + exif.Model] %}
					<dd>{{ camera.make }} {{ camera.model }}</dd>
				</div>
				<div>
					<dt>Lens</dt>
					<dd>
						{{ exif.LensModel }}
					</dd>
				</div>
				<div>
					<dt>F-number</dt>
					<dd>𝑓{{ exif.FNumber.toFixed(1) }}</dd>
				</div>
				<div>
					<dt>Focal length</dt>
					<dd>{{ exif.FocalLengthIn35mmFormat }}<abbr title="Millimeters">mm</abbr></dd>
				</div>
				<div>
					<dt>Shutter speed</dt>
					<dd>
						{%- if exif.ExposureTime > 1 -%}
						{{ exif.ExposureTime }}
						{% else %}
						1/{{ (1 / exif.ExposureTime) | int }}
						{%- endif -%}<abbr title="Seconds">s</abbr>
					</dd>
				</div>
				<div>
					<dt>Exposure</dt>
					<dd>{{ exif.ExposureCompensation.toFixed(1) }}<abbr title="Exposure compensation">EV</abbr></dd>
				</div>
				<div>
					<dt>ISO</dt>
					<dd>{{ exif.ISO }}</dd>
				</div>
			</dl>
		</dd>
	</div>
	{% endif %}
</dl>