---
pagination:
  data: photos
  size: 1
  alias: photoId
permalink: "{{ url.photos }}{{ photoId | slugify }}/index.html"
layout: "photo_detail.njk"
---
{% set photo = photos[photoId] %}
{% set sourcePhotoId = photo.file.replace('.jpeg', '') %}
{% set exif = source_photos[sourcePhotoId].exif %}
{% if exif %}
	{% set datetime = exif.DateTimeOriginal %}
{% else %}
	{% set datetime = photo.datetime %}
{% endif %}
<figure class="figure_full">
	{% photoImage url.source_photos + photo.file, photo.description %}
	<figcaption>
		<p>{{ photo.description }}</p>
		<p><small>© Copyright {{ people[photo.photographer]['full-name'] }}</small></p>
	</figcaption>
</figure>
<dl>
	<div>
		<dt>Date and time</dt>
		<dd>{% datetime datetime %}</dd>
	</div>
	<div>
		<dt>Birds</dt>
		{% for birdId in photo.birds %}
		<dd><a href="{{ url.birds }}{{ birds[birdId].name | slugify }}/">{{ birds[birdId].name }}</a></dd>
		{% endfor %}
	</div>
	<div>
		<dt>Associated sighting</dt>
		<dd>
			{% set sighting = sightings[photo.sighting] %}
			<a href="{{ url.sightings }}{{ photo.sighting | slugify }}-{{ sighting.bird.id | slugify }}/">{% datetime datetime %}</a>
		</dd>
	</div>
	<div>
		<dt>Location</dt>
		<dd>
			{{ areas[photo.location.area].name }}
			{% if photo.location.latitude %}
				<br>
				{% set location = photo.location %}
				{% include "link_google_maps.njk" %}
			{% endif %}
		<dd>
	</div>
	{% if exif %}
	<div>
		<dt>Image information</dt>
		<dd>
			<dl>
				<div>
					<dt>Camera</dt>
					{% set camera = cameras[exif.Make + '-' + exif.Model] %}
					<dd>{{ camera.make }} {{ camera.model }}</dd>
				</div>
				<div>
					<dt>Lens</dt>
					<dd>
						{{ exif.LensModel }}
					</dd>
				</div>
				<div>
					<dt>F-stop</dt>
					<dd>{{ exif.FNumber }}</dd>
				</div>
				<div>
					<dt>Focal length</dt>
					<dd>{{ exif.FocalLengthIn35mmFormat }}</dd>
				</div>
				<div>
					<dt>Shutter speed</dt>
					<dd>
						{% if exif.ExposureTime > 1 %}
							{{ exif.ExposureTime }}s
						{% else %}
							1/{{ (1 / exif.ExposureTime) | int }}s
						{% endif %}
					</dd>
				</div>
				<div>
					<dt>Exposure compensation</dt>
					<dd>{{ exif.ExposureCompensation }}ev</dd>
				</div>
				<div>
					<dt>ISO</dt>
					<dd>{{ exif.ISO }}</dd>
				</div>
			</dl>
		</dd>
	</div>
	{% endif %}
</dl>