---
pagination:
  data: photos
  size: 20
  alias: photoId
permalink: "{{ url.photos }}{{ pagination.pageNumber }}/index.html"
eleventyExcludeFromCollections: true
---
<ul class="list_gallery">
	{% for photoId in pagination.items %}
		{% set photo = photos[photoId] %}
		<li>
			<a class="link_thumbnail" href="{{ url.photos }}{{ photoId | slugify }}/">
				<figure>
					{% set photoPath = url.source_photos + photo.photographer + '/' + photo.file %}
					{% photoThumbnail photoPath, photo.description %}
					<figcaption>
						<ul>
							{% for birdId in photo.birds %}
								<li>{{ birds[birdId].name }}{% if loop.length > 1 and not loop.last %},{% endif %}</li>
							{% endfor %}
						</ul>
					</figcaption>
				</figure>
			</a>
		</li>
	{% endfor %}
</ul>
<nav aria-label="Pagination">
	<ul>
		{% if pagination.href.previous %}
			<li>
				<a rel="prev" href="{{ pagination.href.previous }}">
					Previous page
				</a>
			</li>
		{% endif %}
		{% if pagination.href.next %}
			<li>
				<a rel="next" href="{{ pagination.href.next }}">
					Next page
				</a>
			</li>
		{% endif %}
	</ul>
</nav>