---
pagination:
  data: sightings
  size: 1
  alias: sightingId
permalink: "{{ url.sightings }}{{ sightingId }}.json"
layout: null
eleventyExcludeFromCollections: true
---
{% set sighting = sightings[sightingId] %}
{% set bird = birds[sighting.bird.id] %}
[
{
	"datetime": {{ sighting.datetime | stringify | safe }},
	"bird": {{ bird | stringify | safe }},
	"quantity": {{ sighting.bird.quantity | stringify | safe }},
	"location": {
		"areaId": {{ sighting.location.area | stringify | safe  }},
		"area": {{ areas[sighting.location.area] | stringify | safe }},
		"latitude": 
		{% if sighting.location.latitude %}
			{{ sighting.location.latitude | stringify | safe }},
		{% else %}
			null,
		{% endif %}
		"longitude":
		{% if sighting.location.longitude %}
			{{ sighting.location.longitude | stringify | safe }}
		{% else %}
			null
		{% endif %}
	},
	{% if sighting.photos and sighting.photos.length > 0 %}
	"photos": {
		{% for photoId in sighting.photos %}
			{% if loop.index > 1 and loop.revindex >= 1 %},{% endif%}
			{{ photoId | stringify | safe }}:
			{{ photos[photoId] | stringify | safe }}
		{% endfor %}
	},
	{% endif %}
	"observers": [
		{% for observerId in sighting.observers %}
			{% if loop.index > 1 and loop.revindex >= 1 %},{% endif%}
			{{ people[observerId] | stringify | safe }}
		{% endfor %}
	]
}
]