---
pagination:
  data: birds
  size: 1
  alias: birdId
permalink: "{{ url.birds }}{{ birds[birdId].name | slugify }}/index.html"
layout: "bird_detail.njk"
eleventyExcludeFromCollections: true
---
{% set bird = birds[birdId] %}

<dl class="list_details">
	{% if bird['scientific-name'] %}
		<div>
			<dt>Scientific name</dt>
			<dd>{{ bird['scientific-name'] }}</dd>
		</div>
	{% endif %}
	{% if bird.ebird %}
		<div>
			<dt>Reference</dt>
			<dd><a href="{{ bird.ebird }}">{{ bird.name }} on eBird</a></dd>
		</div>
	{% endif %}
</dl>

<article aria-labelledby="heading_bird_sightings">
	<header>
		<h3 id="heading_bird_sightings">Sightings</h3>
	</header>
	{% set birdSightings = sightings | byBird(birdId) %}
	{% set birdSightingsArray = birdSightings | objToArray %}
	{% if birdSightingsArray.length %}
		<ul>
			{% for sightingId, sighting in birdSightings %}
				<li>
					<a href="{{ url.sightings }}{{ sightingId }}-{{ birdId }}/">
						{{ sighting.bird.quantity }} × {{ bird.name}} on {{ sighting.datetime | CCYYMMDD }}
					</a>
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<p>No sightings yet</p>
	{% endif %}
</article>

<article aria-labelledby="heading_bird_photos">
	<header>
		<h3 id="heading_bird_photos">Photos</h3>
	</header>
	<ul class="list_gallery">
		{% set matchingPhotos = false %}
		{% for photoId, photo in photos %}
			{% for photodBirdId in photo.birds %}
				{% if birdId == photodBirdId %}
					{% set matchingPhotos = true %}
					{% set exif = exifs[photo.photographer][photo.file] %}
					{% if exif %}
						{% set datetime = exif.DateTimeOriginal %}
					{% else %}
						{% set datetime = photo.datetime %}
					{% endif %}
					<li>
						<a class="link_thumbnail" href="{{ url.photos }}{{ photoId | slugify }}/">
							<figure>
								{% photoThumbnail url.source_photos + photo.photographer + '/' + photo.file, photo.description %}
								<figcpation>
									{% datetime datetime %}
								</figcpation>
							</figure>
						</a>
					</li>
				{% endif %}
			{% endfor %}
		{% endfor %}
		{% if matchingPhotos == false %}
			<li>None</li>
		{% endif %}
	</ul>
</article>