---
pagination:
  data: sightings
  size: 1
  alias: sightingId
permalink: "{{ url.sightings }}{{ sightingId }}-{{ sightings[sightingId].bird.id }}/index.html"
layout: "sighting_detail.njk"
eleventyExcludeFromCollections: true
---
{% set sighting = sightings[sightingId] %}
<dl>
	<div>
		<dt>Date and time</dt>
		<dd>{% datetime sighting.datetime %}</dd>
	</div>
	<div>
		<dt>Description</dt>
		<dd>
			{{ sighting.description | markdown | safe }}
		</dd>
	</div>
	<div>
		<dt>Birds</dt>
		<dd>
			{{ sighting.bird.quantity }} ⨉ <a href="{{ url.birds }}{{ birds[sighting.bird.id].name | slugify }}/">{{ birds[sighting.bird.id].name }}</a>
		</dd>
	</div>
	{% if sighting.photos %}
	<div>
		<dt>Associated photos<dt>
		<dd>
			<ul class="list_gallery">
				{% for photoId in sighting.photos %}
					{% set photo = photos[photoId] %}
					<li>
						<a class="link_thumbnail" href="{{ url.photos }}{{ photoId | slugify }}/">
							{% set photoPath = url.source_photos + photo.photographer + '/' + photo.file %}
							{% photoThumbnail photoPath, photo.description %}
						</a>
					</li>
				{% endfor %}
			</ul>
		</dd>
	</div>
	{% endif %}
	<div>
		<dt>Observers</dt>
		<dd>
			<ul>
			{% for observerId in sighting.observers %}
				<li><a href="{{ url.people }}{{ observerId }}/">{{ people[observerId].name }}</a></li>
			{% endfor %}
			</ul>
		</dd>
	</div>
	<div>
		<dt>Location</dt>
		<dd>
			<a href="{{ url.areas }}{{ sighting.location.area }}/">{{ areas[sighting.location.area].name }}</a>
			{% if sighting.location.latitude %}
				<br>
				{% set location = sighting.location %}
				{% include "link_google_maps.njk" %}
			{% endif %}
		<dd>
	</div>
</dl>