{% set bird = birds[birdId] %}
{% set page_meta = {
	title: bird.name,
	heading: bird.name,
	summary: 'A record of sightings and photos in or near Zevenwacht Wine Estate'
} %}
{% extends "./default.njk" %}
