<!DOCTYPE html>
<html lang="{{ site.lang }}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
{% if environment.name == 'production' %}
	<link rel="stylesheet" href="/assets/css/all.css?timestamp={{ environment.timestamp }}">
{% else %}
	<link rel="stylesheet" href="/assets/css/index.css">
{% endif %}
{% include "scripts.njk" %}
{% include "title.njk" %}
{% include "site_meta.njk" %}
<body data-page-path="{{ page.url | slugify }}">
{% include "site_header.njk" %}
<main>
	{% include "page_header.njk" %}
	{{ content | safe }}
</main>
{% include "site_footer.njk" %}
{% include "debug.njk" %}
