{% set person = people[personId] %}
{% set page_meta = {
	title: person['full-name'],
	heading: person['full-name'],
	summary: 'A contributor to the Birds of Zevenwacht community project'
} %}
{% extends "./default.njk" %}
