{% set photo = photos[photoId] %}
{% set exif = exifs[photo.photographer][photo.file] %}
{% set formattedDate = exif.DateTimeOriginal | CCYYMMDD %}
{% set birdName = birds[photo.birds[0]].name %}
{% if photo.birds.length > 1 %}
	{% set birdName = 'Multiple species' %}
{% endif %}
{% set heading = 'Photo of ' + birdName + ' on ' + formattedDate %}
{% set opengraphImage = photo.file | ogImage(photo.photographer) %}
{% set page_meta = {
	title: heading,
	heading: heading,
	summary: photo.description,
	description: photo.description | striptags(true),
	image: opengraphImage
} %}
{% extends "./default.njk" %}
