{% set sighting = sightings[sightingId] %}
{% set formattedDate = sighting.datetime | CCYYMMDD %}
{% set bird = birds[sighting.bird.id] %}
{% set heading = 'Sighting of ' + sighting.bird.quantity + ' × ' + bird.name + ' on ' + formattedDate %}
{% set page_meta = {
	title: heading,
	heading: heading,
	summary: sighting.description,
	description: sighting.description | markdown | striptags(true)
} %}
{% extends "./default.njk" %}
