<!DOCTYPE html>
<html lang="en-ZA">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% include "layouts/includes/title.jinja" %}
{% include "layouts/includes/css.jinja" %}
{% include "layouts/includes/body.jinja" %}
<header>
	<h1>
		<a href="{{ url('home') }}">
			Birds of Zevenwacht
		</a>
	</h1>
	{% include "layouts/includes/menu.jinja" %}
</header>
<main>
	{% include "layouts/includes/page_header.jinja" %}
	{% block content %}
		<p>No page content found</p>
	{% endblock %}
</main>
{% include "layouts/includes/site_footer.jinja" %}
{% include "layouts/includes/scripts.jinja" %}
