{% extends layout %}

{% block notifications %}
	{# {% if form.errors %}
		<div class="notification" data-type="error" role="alert">
			<h3 class="heading heading_paragraph">Oops!</h3>
			<p>
				There were problems with the fields below
			</p>
			{% if form.non_field_errors() %}
				{{ form.non_field_errors() }}
			{% endif %}
		</div>
	{% endif %} #}
{% endblock %}

{% block content %}
	{% include "layouts/includes/wizard_steps.jinja" %}
	{% block step_content %}{% endblock %}
{% endblock %}
