.card_bird {
	text-decoration: none;
	border: #eee solid 1px;
	display: block;
	border-radius: 0.25rem;
	overflow: hidden;
	max-width: 25rem;

	&:hover {
		border-color: currentColor;
	}

	& figure {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 1rem;
		margin: 0;
		padding: 0;

		& > div {
			display: flex;
			flex-direction: column;
			justify-content: center;
			min-inline-size: 4rem;
			inline-size: 4rem;
			block-size: 4rem;
			padding: 0.5rem;
			background-color: #eee;
		}

		& picture {
			margin: -0.5rem;
			border-radius: 0.25rem;
		}

		& > div > span {
			display: block;
			font-size: 0.75rem;
			text-align: center;
			color: #aaa;
			padding: 0.5rem;
		}
	}

	& figcaption {
		& i {
			display: block;
			margin-block-start: 0.25rem;
			color: grey;
		}
	}
	
	& picture {
		overflow: hidden;
	}

	& img {
		transform:
			translate(
				var(--thumbnail-translate-x, 0),
				var(--thumbnail-translate-y, 0)
			)
			scale(var(--thumbnail-scale, 1));
		aspect-ratio: 1;
		object-fit: cover;
	}
}

ol:has(.card_bird) {
	padding-inline-start: 0;
}

li:has(.card_bird) {
	margin-block: 0.75rem;
	list-style-type: "";
}