body > header > nav {
	& ul {
		display: flex;
		flex-direction: row;
		gap: 2rem;
		margin: 0;
		padding: 0;
		list-style: "";
	}

	& a {
		display: flex;
		position: relative;
		flex-direction: column;
		align-items: center;
		text-decoration: none;
		text-align: center;
		color: hsla(220 0 0 / 1);
		line-height: 1;
	}

	& a::before {
		content: "";
		display: block;
		block-size: 3rem;
		inline-size: 3rem;
		background-image: var(--site_nav_anchor_image);
		background-position: 50% 50%;
		background-size: contain;
		background-repeat: no-repeat;
	}

	& a[href*="/birds"] {
		--site_nav_anchor_image: url(../img/icon_bird.svg);
	}
	& a[href*="/sightings"] {
		--site_nav_anchor_image: url(../img/icon_sighting.svg);

		&::before {
			inline-size: 4rem;
		}
	}
	& a[href*="/photos"] {
		--site_nav_anchor_image: url(../img/icon_photo.svg);
	}
}


[data-page-path^="birds"]     > header > nav a[href*="/birds/"],
[data-page-path^="sightings"] > header > nav a[href*="/sightings/"],
[data-page-path^="photos"]    > header > nav a[href*="/photos/"] {
	&::after {
		content: "";
		display: block;
		position: absolute;
		inset-block-end: -4px;
		inset-inline: 0;
		block-size: 2px;
		background-color: black;
	}
}