@view-transition {
  navigation: auto;
}

@keyframes move-left-out {
	from { transform: translateX(0%);    }
	to   { transform: translateX(-100%); }
}
@keyframes move-right-in {
	from { transform: translateX(100%); }
	to   { transform: translateX(0%);   }
}
@keyframes move-left-in {
	from { transform: translateX(-100%); }
	to   { transform: translateX(0%);   }
}
@keyframes move-right-out {
	from { transform: translateX(0%);   }
	to   { transform: translateX(100%); }
}

