.button {
	display: inline-block;
	font-size: 1rem;
	padding-block: 0.5rem;
	padding-inline: 0.75rem;
	border-radius: 0.25rem;
	min-block-size: 1rem;
	border: 0.0625rem solid hsla(0, 0%, 0%, 0.5);
	text-decoration: none;
	color: inherit;
}
.button_link {
	padding: 0;
	margin: 0;
	background: none;
	border: none;
	color: var(--color-link-default);
	cursor: pointer;
}
