:is(
	.icon_sightings,
	.icon_sighting,
	.icon_photos,
	.icon_photo
) span {
	display: block;
	block-size: 1rem;
	inline-size: 1rem;
	border-radius: 50%;
	border-end-end-radius: 0;
	transform: rotate(45deg);
	box-shadow: 0 0 0.25rem 0.125rem hsla(0 0 0 / 0.5);
	background-color: var(--icon-color);
}

.icon_sightings {
	--icon-color: hsla(260 65% 65% / 1);
}

.icon_sighting {
	--icon-color: hsla(220 65% 65% / 1);
}

.icon_photos {
	--icon-color: hsla(180 65% 65% / 1);
}

.icon_photo {
	--icon-color: hsla(140 65% 65% / 1);
}