@import './defaults.css'          layer(foundation);
@import './site_header.css'       layer(framework);
@import './site_logo.css'         layer(framework);
@import './site_nav.css'          layer(framework);
@import './main.css'              layer(framework);
@import './site_footer.css'       layer(framework);
@import './layout_map.css'        layer(content.layout);
@import './layout_aside.css'      layer(content.layout);
@import './notifications.css'     layer(content.components);
@import './buttons.css'           layer(content.components);
@import './headings.css'          layer(content.components);
@import './card_bird.css'         layer(content.components);
@import './figure_full.css'       layer(content.components);
@import './forms.css'             layer(content.components);
@import './list_gallery.css'      layer(content.components);
@import './link_thumbnail.css'    layer(content.components);
@import './list_stripped.css'     layer(content.components);
@import './list_details.css'      layer(content.components);
@import './list_by_year.css'      layer(content.components);
@import './list_redlist.css'      layer(content.components);
@import './list_steps.css'        layer(content.components);
@import './wc/tab-group.css'      layer(content.components.tabs);
@import './wc/map-embed.css'      layer(content.components.map);
@import './icons.css'             layer(content.components.map);
@import './lib/leaflet.1.9.4.css' layer(content.components.map);
@import './page_photo.css'        layer(page);
@import './view-transitions.css'  layer(animations);

@layer utilities {
	screenreader-only {
		clip: rect(0 0 0 0); 
		clip-path: inset(50%);
		height: 1px;
		overflow: hidden;
		position: absolute;
		white-space: nowrap; 
		width: 1px;
	}
}
