.list_by_year {
	margin-block-start: 0;

	& > div {
		margin-block-end: 1rem;

		&:has(ul:empty) {
			display: none;
		}
	}

	& dt {
		display: inline-block;
		position: sticky;
		inset-block-start: 0;
		font-weight: 700;
		line-height: 1;
	}

	& dd {
		margin-block-start: -1.25rem;
		margin-inline-start: 3.5rem;
	}
}