main {
	padding-block-start: 0;
	padding-block-end: 3rem;
	padding-inline: var(--dimensions-window-margin);
	background-color: hsla(220 0 100% / 1);

	& > header {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: end;
		justify-content: space-between;
		gap: 1rem;
		/* margin-block-start: calc(var(--dimensions-window-margin) * -1); */
		margin-inline: calc(var(--dimensions-window-margin) * -1);
		padding-inline: var(--dimensions-window-margin);
		padding-block: calc(var(--dimensions-window-margin) * 2);

		& > div:first-of-type {
			& > h2 {
				margin-block-start: 0;
				margin-block-end: 1rem;
			}
			& > p {
				margin: 0;
				font-size: 1.25rem;
			}
			& + * {
				margin-block: 0;
			}
		}
	}

	p {
		max-inline-size: 80ch;
		color: hsl(0 0% 30%);
	}

	&:has(> .layout_aside) {
		overflow: hidden;
	}
}

