@import './defaults.css';
@import './site_header.css';
@import './site_logo.css';
@import './site_nav.css';
@import './main.css';
@import './site_footer.css';
@import './layout_map.css';
@import './list_gallery.css';
@import './link_thumbnail.css';
@import './figure_full.css';
@import './list_details.css';
@import './list_stripped.css';
@import './wc/map-embed.css';
@import './icons.css';
@import './page_photo.css';
@import './view-transitions.css';
@import './lib/leaflet.1.9.4.css';

screenreader-only {
	clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}