---
title: Add a sighting
heading: Add a sighting
summary: Record a bird sighting within Zevenwacht
description: Record a bird sighting within Zevenwacht
eleventyExcludeFromCollections: true
---
<p>
	If you've stumbled across this page,
	you'll need a Personal Access Token with rights to write to this repo,
	before you can contribute to the sightings.
</p>
<form action="." method="GET">

	<fieldset>
		<legend>Bird details</legend>
		<div class="form_row">
			<label for="text_species">Bird species:</label>
			<div class="form_field">
				<input type="text" name="species" id="text_species" list="datalist_birds" required>
				<datalist id="datalist_birds">
					{% for birdId, bird in birds %}
					<option value="{{ birdId }}" label="{{ bird.name }}">
					{% endfor %}
				</datalist>
			</div>
		</div>
		<div class="form_row">
			<label for="number_quantity">Quantity:</label>
			<div class="form_field">
				<input type="number" name="quantity" id="number_quantity" min="1" max="1000" step="1" required>
			</div>
		</div>
	</fieldset>

	<fieldset>
		<legend>Sighting details</legend>
		<div class="form_row">
			<label for="datetime-local_datetime">Date & time:</label>
			<div class="form_field">
				<input type="datetime-local" name="datetime" id="datetime-local_datetime" required>
			</div>
		</div>
		<div class="form_row">
			<label for="text_description">Description of sighting:</label>
			<div class="form_field">
				<textarea name="description" id="text_description" rows="4" cols="40" required></textarea>
			</div>
		</div>
	</fieldset>

	<fieldset>
		<legend>Location details</legend>
		<div class="form_row">
			<label for="text_area">Area:</label>
			<div class="form_field">
				<input type="text" name="area" id="text_area" list="datalist_areas" required>
				<datalist id="datalist_areas">
					{% for areaId, area in areas %}
					<option value="{{ areaId }}" label="{{ area.name }}">
					{% endfor %}
				</datalist>
			</div>
		</div>
		<location-lookup>
			<template>
				<div class="form_row">
					<div class="form_field">
						<button type="button">Look up my location</button>
					</div>
				</div>
			</template>
			<div class="form_row">
				<label for="text_latitude">Latitude:</label>
				<div class="form_field">
					<input type="text" inputmode="numeric" name="latitude" id="text_latitude">
				</div>
			</div>
			<div class="form_row">
				<label for="text_longitude">Longitude:</label>
				<div class="form_field">
					<input type="text" inputmode="numeric" name="longitude" id="text_longitude">
				</div>
			</div>
		</location-lookup>
	</fieldset>

	<div class="form_row form_actions">
		<button type="submit">Submit</button>
		<button type="reset">Reset</button>
	</div>

</form>
<script type="module" src="/assets/mjs/wc/location-lookup.mjs"></script>
<script type="module" src="/assets/mjs/create-sighting.mjs"></script>
