---
title: Birds
heading: Birds
summary: All birds sighted in or near Zevenwacht Wine Estate
description: All birds sighted in or near Zevenwacht Wine Estate
eleventyExcludeFromCollections: true
---
<p>Birds we have sightings or photos of:</p>
<ol>
	{% asyncEach birdId, bird in birds %}
		{% if not bird.unconfirmed %}
			<li id="bird_{{ birdId }}">
				<a class="card_bird" href="{{ url.birds }}{{ birdId }}/">
					<figure>
						<div>
							{% if bird.photo %}
								{% set photo = photos[bird.photo.id] %}
								{%
									photoThumbnail
										url.source_photos + photo.photographer + '/' + photo.file,
										photo.description,
										bird.photo.tx,
										bird.photo.ty,
										bird.photo.scale
								%}
							{% else %}
								<span>No photo yet</span>
							{% endif %}
						</div>
						<figcaption>{{ bird.name }}</figcaption>
					</figure>
				</a>
			</li>
		{% endif %}
	{% endeach %}
</ol>
<p>Unconfirmed sightings, or birds we haven't logged sightings or photos for yet:</p>
<ol>
	{% asyncEach birdId, bird in birds %}
		{% if bird.unconfirmed %}
			<li>
				<a class="card_bird" href="{{ url.birds }}{{ birdId }}/">
					<figure>
						<div>
							{% if bird.photo %}
								{% set photo = photos[bird.photo.id] %}
								{% photoThumbnail url.source_photos + photo.photographer + '/' + photo.file, photo.description %}
							{% else %}
								<span>No photo yet</span>
							{% endif %}
						</div>
						<figcaption>{{ bird.name }}</figcaption>
					</figure>
				</a>
			</li>
		{% endif %}
	{% endeach %}
</ol>