{% extends layout %}
{% set page_name = 'Add Sighting' %}
{% set page_description = 'Contribute to Birds of Zevenwacht by adding your own Sightings' %}
{% block content %}
	<p>It works!</p>
{% endblock %}
