{% extends layout %}
{% set bird = sighting.bird %}
{% set page_name = bird.common_name + ' Sighting' %}
{% set page_description = 'More details about this sighting' %}

{% block content %}
{{ sighting.id }}<br>
{{ sighting.datetime }}<br>
{{ sighting.observers }}<br>
{{ bird }}<br>
{{ sighting.quantity }}<br>
{% endblock %}
