{% extends layout %}
{% set page_name = 'Sightings' %}
{% set page_description = 'A list of recently-recorded sightings' %}

{% block content %}
	{% if sightings %}
		<nav>
			<ul>
				{% for sighting in sightings %}
					<li>
						<a href="{{ url('sighting_detail', pk=sighting.id) }}">
							{{ sighting.datetime }}<br>
							{{ sighting.bird }} x {{ sighting.quantity }}<br>
							{{ sighting.observers }}
							{# {% for observer in sighting.observers %}
								{{ observer.short_name }}
							{% endfor %} #}
						</a>
					</li>
				{% endfor %}
			</ul>
		</nav>
	{% else %}
		<p class="no_items">No sightings recorded yet</p>
	{% endif %}
{% endblock %}
