{% extends 'layouts/default.jinja' %}
{% set page_name = 'Log in' %}
{% set page_description = 'Use your prevsiouly registered email and password to log in' %}

{% block notifications %}
	{% if form.non_field_errors() %}
		<div class="notification" data-type="error" role="alert">
			<h3 class="heading heading_paragraph">Oops!</h3>
			{{ form.non_field_errors() }}
		</div>
	{% endif %}
{% endblock %}

{% block content %}
	<form action="." method="POST">
		{% csrf_token %}
		<div class="form_row">
			<label for="id_username">Username</label>
			<div class="form_field">
				{{ form.username }}
				{% if form.username.errors %}
					{{ form.username.errors }}
				{% endif %}
			</div>
		</div>
		<div class="form_row">
			<label for="id_password">Password</label>
			<div class="form_field">
				{{ form.password }}
				{% if form.password.errors %}
					{{ form.password.errors }}
				{% endif %}
			</div>
		</div>
		<div class="form_row">
			<button>Log in</button>
			or <a href="{{ url('home') }}">Cancel</a>
		</div>
		<input type="hidden" name="next" value="{{ next or url('home') }}">
	</form>
{% endblock %}
