{% extends layout %}
{% set page_name = 'Photo' %}
{% set page_description = 'More details about this photo' %}

{% block content %}
<dl>
	<div>
		<dt>datetime</dt>
		<dd>
			{{ photo.datetime }}
		</dd>
	</div>
	<div>
		<dt>photographer</dt>
		<dd>
			{{ photo.photographer }}
		</dd>
	</div>
	<div>
		<dt>source_photo</dt>
		<dd>
			<img src="{{ photo.source_photo.url }}" alt="{{ photo.description }}">
		</dd>
	</div>
	<div>
		<dt>description</dt>
		<dd>
			{{ photo.description }}
		</dd>
	</div>
</dl>
{% endblock %}
