{% extends layout %}
{% set page_name = 'Birds' %}
{% set page_description = 'All birds sighted in or near Zevenwacht Wine Estate' %}

{% block content %}
	{% if birds %}
		<p>Birds we have sightings or photos of:</p>
		<ol>
			{% for bird in birds %}
				{% if bird.sighted %}
					<li>
						<a class="card_bird" href="{{ url('bird_detail', pk=bird.id) }}">
							<figure>
								<div>
									<span>No photo yet</span>
								</div>
								<figcaption>
									{{ bird.common_name }}
								</figcaption>
							</figure>
						</a>
					</li>
				{% endif %}
			{% endfor %}
		</ol>
		
		<p>Birds we should see based on <a href="{{ url('species_lists_list') }}">our data sources</a>:</p>
		<ol>
			{% for bird in birds %}
				{% if not bird.sighted and not bird.photographed and bird.potential %}
					<li>
						<a class="card_bird" href="{{ url('bird_detail', pk=bird.id) }}">
							<figure>
								<div>
									<span>No photo yet</span>
								</div>
								<figcaption>
									{{ bird.common_name }}
								</figcaption>
							</figure>
						</a>
					</li>
				{% endif %}
			{% endfor %}
		</ol>
	{% else %}
		<p class="no_items">No birds recorded yet</p>
	{% endif %}
{% endblock %}
