---
title: Home
heading: Home
summary: Birds of Zevenwacht is a community birding project
description: Birds of Zevenwacht is a community birding project
eleventyExcludeFromCollections: true
---
<p>
	This site aims to record sightings and photos of birds that visit and inhabit <a href="{{ areas['zevenwacht-wine-estate'].website }}">Zevenwacht Wine Estate</a> and surrounding areas.
</p>
<p>
	If you live near Zevenwacht Wine Estate or you frequently visit the area and are a keen birder or bird photographer, we'd love your help.<br>
	We're especially interested if you have bird photographs taken in <a href="{{ url.areas }}">these areas</a>, prior to {{ date_range[0] }}. Your photos can serve as surveying information on the local birds.
</p>
<p>
	If you'd like to contribute in any way, please contact <a href="mailto:{{ people['shaun'].email }}">{{ people['shaun']['full-name'] }}</a>
</p>
