---
title: Home
heading: Home
summary: Birds of Zevenwacht is a community birding project
description: Birds of Zevenwacht is a community birding project
eleventyExcludeFromCollections: true
---
<p>
	This site aims to record sightings and photos of birds that visit and inhabit the small suburb of Zevenwacht, Cape Town, South Africa.
</p>
<p>
	If you live in Zevenwacht or you frequently visit Zevenwacht and are a keen birder or bird photographer, we'd love your help.<br>
	We're especially interested if you have bird photographs taken in Zevenwacht, prior to 2024. Your photos can serve as surveying information on the local birds.
</p>
<p>
	If you'd like to contribute in any way, please contact <a href="mailto:{{ people['shaun'].email }}">{{ people['shaun']['full-name'] }}</a>
</p>
