---
layout: null
permalink: "/meta.json"
eleventyExcludeFromCollections: true
---
{
	"css": {
		"matches": "/.css$/",
		"version": {{ environment.timestamps.css }},
		"urls": [
			"{{ "/all.css" | url }}"
		],
	},
	"html": {
		"matches": "/(\/|.html)$/",
		"version": {{ environment.timestamps.html }},
		"urls": [
			"{{ url.about | url }}",
			"{{ url.areas | url }}",
		{%- for areaId, area in areas %}
			"{{ url.areas | url }}{{ areaId }}/",
		{%- endfor %}
			"{{ url.attribution | url }}",
			"{{ url.birds | url }}",
		{%- for birdId, bird in birds %}
			"{{ url.birds | url }}{{ birdId }}/",
		{%- endfor %}
			"{{ url.people | url }}",
		{%- for personId, person in people %}
			"{{ url.people | url }}{{ personId }}/",
		{%- endfor %}
			"{{ url.photos | url }}",
		{%- for photoId, photo in photos %}
			"{{ url.photos | url }}{{ photoId }}/",
		{%- endfor %}
			"{{ url.sightings | url }}",
		{%- for sightingId, sighting in sightings %}
			"{{ url.sightings | url }}{{ sightingId }}/",
		{%- endfor %}
			"{{ "/" | url }}"
		],
	},
	"json": {
		"matches": "/.json$/",
		"version": {{ environment.timestamps.json }},
		"urls": [
		{%- for sightingId, sighting in sightings %}
			"{{ url.sightings | url }}/{{ sightingId }}.json",
		{%- endfor %}
			"{{ url.sightings | url }}/all.json"
		],
	},
	"libJS": {
		"matches": "/.js$/",
		"version": {{ environment.timestamps.libJS }},
		"urls": [
			"{{ "/assets/mjs/lib/leaflet.1.9.4.js" | url }}"
		],
	},
	"mjs": {
		"matches": "/.mjs$/",
		"version": {{ environment.timestamps.mjs }},
		"urls": [
			"{{ "/assets/mjs/bundle.mjs" | url }}"
		],
	},
	"static": {
		"matches": "/.(ico|manifest|svg)$/",
		"version": {{ environment.timestamps.static }},
		"urls": [
			"{{ "/favicon.ico" | url }}",
			"{{ "/icon_pwa.svg" | url }}",
			"{{ "/web.manifest" | url }}",
			"{{ "/assets/img/icon_bird.svg" | url }}",
			"{{ "/assets/img/icon_photo.svg" | url }}",
			"{{ "/assets/img/icon_sighting.svg" | url }}"
		],
	}
}